export(create.lines)
export(create.covariate.images)
export(create.points.by.offset)
export(dist2line)
export(dspat)
export(integrate.intensity)
export(lgcp.correction)
export(lines_to_strips)
export(LTDataFrame)
export(offset.points)
export(project2line)
export(quadscheme.lt)
export(sample.points)
export(simCovariates)
export(simDSpat)
export(simPts)
export(transect.intensity)
export(hndetfct)
S3method(coef,dspat)
S3method(print,dspat)
S3method(summary,dspat)
S3method(vcov,dspat)
S3method(AIC,dspat)
import(rgeos)